body {
}
#screen {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:2000;
}
#screen span {
    background: #03fff0;
    font-size: 0;
    overflow: hidden;
    width: 2px;
    height: 2px;
}
.submit{
    width:120px;
    border-style: none;
    border-color: currentcolor;
    border-width: 0px;
    background: rgb(15, 136, 235);
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    box-shadow: none;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100% 100% 100% 100%;
    border-image-width: 1 1 1 1;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    line-height: 41px;
    color: #fff;
    filter:alpha(Opacity=85);-moz-opacity:0.8;opacity: 0.8;
}
.submit:hover{
    width:120px;
    border-style: none;
    border-color: currentcolor;
    border-width: 0px;
    background: #279ddf;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    box-shadow: none;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100% 100% 100% 100%;
    border-image-width: 1 1 1 1;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    line-height: 41px;
    color: #fff;
    filter:alpha(Opacity=85);-moz-opacity:0.8;opacity: 0.8;
}

